.categories-banner {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding-bottom: 2vh;
  height: 91vh;
  width: 23vw;
  background: $bright;

  box-shadow: 2px 0px 7px $black15;

  z-index: 3000;
}

.categories-banner ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
  margin: unset;
  list-style: none;
  padding-left: 0;
}

.cat-active {
  color: $orange;
  // font-weight: 500;
}

.cat-active a {
  background-color: $black03;
}

.sub-cat-active {
  color: $orange;
}

.sub-cat-active a {
  content: '';
  display: inline-block;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 5px;
  width: 100%;
  border-bottom: 1px solid;
  // opacity: 0;
  // -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  // -webkit-transform: scale(0,1);
  // transform: scale(0,1);

  // opacity: 1;
  // -webkit-transform: scale(1);
  // transform: scale(1);
  // &:after {
  //   transition: border-bottom 5s;
  // }

  &:hover {
    border-bottom: none;
  }
}

.separation_line {
  height: 1px;
  width: 100%;
  background-color: $lightGrey;
}

@media screen and (max-width: 1045px) {
  .categories-banner {
    display: none;
  }

  .cat-active a {
    background-color: transparent;
  }

  .sub-cat-active a {
    margin-top: 3px;
  }
}
