.categories-banner {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding-bottom: 2vh;
  height: 91vh;
  width: 23vw;
  background: $bright;

  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.15);
}

.separation_line {
  height: 1.5px;
  width: 100%;
  background-color: $lightGrey;
}
