.notice, #notice {
  background: #ffb;
  border-radius: 0.5em;
  border: solid 0.177em #882;
  color: #882;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 1em 1.414em;
  text-align: center;
}
.content {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column; // mobile is horizontally laid out
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  @media (min-width: 30em) {
    flex-direction: row;  // desktop is vertically laid out
    -webkit-box-orient: horizontal;
  }

  nav {
    padding-bottom: 1em;
    background: #141;
    text-align: center;  // mobile has centered nav
    @media (min-width: 30em) {
      text-align: left; // desktop nav is left-aligned
      padding: 1em;     // and needs more padding
    }

    #cart {
      article {
        h2 {
          margin-top: 0;
        }
        background: white;
        border-radius: 0.5em;
        margin: 1em;
        padding: 1.414em;
        @media (min-width: 30em) {
          margin: 0; // desktop doesn't need this margin
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }
  main {
    padding: 0.5em;
  }
}

//
.order_content {
  height: 78vh;
  z-index: 10;
  // background-color: green;
}

.order_title {
  position: relative;
  padding: 2em 0;
  display: flex;
  align-items: center;
  vertical-align: middle;

  height: 25%;
  width: 100%;
  text-align: center;
  // text-shadow: 0px 4px 4px $black25;

  z-index: 3;
  // background: pink;
}

.order_title h4 {
  font-weight: 600;
  width: 100%;
  z-index: 3;
}


.order_line_title {
  position: absolute;
  top: 57%;
  height: 1px;
  width: 100%;
  background-color: #FF896B;
  z-index: 1;
}

.order_line_title-2 {
  position: absolute;
  top: 462%;

  height: 1px;
  width: 65%;
  background-color: $orange;

  z-index: 2;
}

.order_title_styling {
  position: absolute;
  top: 56%;
  left: 17%;
  height: 5%;
  width: 66%;
  background-color: #F4F4F4;
  z-index: 2;

}


.depot_form {
  background: #F4F4F4;
  width: 56vh;
  padding: 0 1em;
  border-radius: 5px;
  // h1 {
  //   font-size: 1.99em;
  //   line-height: 1.41em;
  //   margin-bottom: 0.5em;
  //   padding: 0;
  // }

  .field, .actions {
    margin-bottom: 0.5em;
    padding: 0;
  }

  .actions {
    margin-left: 67%;
    padding: 2em 0;
    width: 175px;
  }

  input, textarea, select, option {
    height: 42px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 3%;
    font-size: 14px;
    background-color: #F4F4F4;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.25);
  }

  label {
    padding: 0.5em 0;
  }

  input[type="submit"] {
    background-color: #FF896B;
    border-radius: 0.354em;
    // border: solid thin #888;
    color: #F4F4F4;
    font-size: 1.41em;
    font-weight: bold;
    // padding: 0.354em 1em;
  }

  input[type="submit"]:hover {
    background-color: #9d9;
  }
  // Also, clean up the error styling
  #error_explanation {
    background-color: white;
    border-radius: 1em;
    border: solid thin red;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 100%;
    h2 {
      background: none;
      color: red;
      font-size: 1.41em;
      line-height: 1.41em;
      padding: 1em;
    }
    ul {
      margin-top: 0;
      li {
        color: red;
        font-size: 1em;
      }
    }
  }

  .field_with_errors {
    background: none;
    color: red;
    width: 100%;
    label {
      font-weight: bold;
    }
    label::before {
      content: "! ";
    }
    input,textarea {
      background: pink;
    }
  }
}
