.app-container {
  position: absolute;
  left: 23vw;

  height: 91vh;
  width: 77vw;
  padding-top: 1vh;

  overflow: scroll;
}

.show_container {
  padding: 3vw;
}

.sub-c-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 9vh;
  width: 100%;

  text-transform: uppercase;
}

.sub-c-banner a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: $orange;
  }
}

.space-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10vh;
  width: 100%;
  padding: 0 5vw;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

  height: max-content;
  width: 100%;
  padding: 4vw;
}
