<footer>
  <div class="footer_mobily">

    <div class="footer_top">

      <div class="title_footer_top">
        <h4><strong>Don't wanna miss on good occasions?</strong></h4>
        <p>SUBSCRIBE TO OUR NEWSLETTER!</p>
      </div>

      <div class="email_card_newsletter">
        <p>Your email address</p>
        <div class="border_line_bottom"></div>
      </div>

      <div class="social_media_links_top">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>

    </div>

    <div class="footer_bottom">

      <div class="bottom_footer_division">

        <div class="bottom_footer_left" id="footer_bottom_title">
          <h3><strong>You wish to<br>contact us?</strong></h3>
        </div>

        <div class="bottom_footer_right" id="footer_bottom_values" id="footer_bottom_values">

          <div class="mobily_footer_values">
            <h6>
              <strong>Unbeatable<br>Prices</strong>
            </h6>
          </div>

          <div class="mobily_footer_values">
            <h6>
              <strong>Secure<br>Payment</strong>
            </h6>
          </div>

          <div class="mobily_footer_values">
            <h6>
              <strong>Owner of your<br>Personal Data</strong>
            </h6>
          </div>

        </div>

      </div>

      <div class="footer_sep_line"></div>

      <div class="bottom_footer_division">

        <div class="bottom_footer_left" id="footer_logo">
          <h2>M.</h2>
        </div>

        <div class="bottom_footer_right" id="footer_bottom_links">

          <div class="mobily_footer_links">
            <strong>Main</strong>
            <ul>
              <li><a href="#">Who are We?</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="footer_sep_line" id="footer_second_sep"></div>

          <div class="mobily_footer_links">
            <strong>Services</strong>
            <ul>
              <li><a href="#">Help center</a></li>
              <li><a href="#">Legal mentions</a></li>
              <li><a href="#">Available in<br>your country?</a></li>
            </ul>
          </div>

          <div class="footer_sep_line" id="footer_third_sep"></div>

          <div class="mobily_footer_links" id="social_links">
            <strong>Social</strong>
            <ul>
              <li><a href="#">Linkedin</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Twitter</a></li>
            </ul>
          </div>

          <div class="mobily_footer_links" id="social_links_small">
            FOLLOW US!
            <div class="social_links_grid_small">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</footer>
