.navbar-search-btn {
  display: flex;

  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: 30px;
  width: 300px;
}

.navbar-search-btn a {
  color: $skin;
}

.navbar-search-btn i {
  color: $skin;
}

.search-glass {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: 50px;
  background-color: $bright;
  color: $skin;
  border: 0.5px solid #AAAAAA;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
  z-index: 300000;
}

.search-text {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $lightGrey;
  background-color: transparent;
  padding-left: 5%;
  border: none;
  height: 100%;
  width: 250px;
}

  input[class="search-text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $skin;
    font-size: 14px;
  }
  input[class="search-text"]::-moz-placeholder { /* Firefox 19+ */
    color: $skin;
    font-size: 14px;
  }
  input[class="search-text"]:-ms-input-placeholder { /* IE 10+ */
    color: $skin;
    font-size: 14px;
  }
  input[class="search-text"]:-moz-placeholder { /* Firefox 18- */
    color: $skin;
    font-size: 14px;
  }

input[class="search-text"]:focus {
     box-shadow: none;
}

.search-text:focus {
  outline: none !important;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);;
}

.navbar-sell-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 120px;
  background-color: $skin;
}

.navbar-sell-btn a {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: $bright;
  height: 100%;
  width: 100%;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 30px;
  width: 60px;
  color: $skin;
  background-color: #FEFEFE;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
}

.sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 35px;
  width: 140px;
  color: $bright;
  border-radius: 5px;
  background-color: $orange;
  // text-decoration: underline;

}

.sign-up-btn input[type="submit"] {
  border: none;
  // box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
  background: transparent;
  outline: none;
  color: $bright;
  height: 35px;
  width: 140px;
  // padding-left: 5%;
  font-size: 14px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    text-decoration: underline;
  }
}

.sign-up-btn input[type="submit"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $skin;
  font-size: 14px;
}
.sign-up-btn input[type="submit"]::-moz-placeholder { /* Firefox 19+ */
  color: $skin;
  font-size: 14px;
}
.sign-up-btn input[type="submit"]:-ms-input-placeholder { /* IE 10+ */
  color: $skin;
  font-size: 14px;
}
.sign-up-btn input[type="submit"]:-moz-placeholder { /* Firefox 18- */
  color: $skin;
  font-size: 14px;
}

.submit-btn-sale {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 35px;
  width: 140px;
  color: $bright;
  border-radius: 5px;
  background-color: $orange;
  // text-decoration: underline;

}

.submit-btn-sale input[type="submit"] {
  border: none;
  // box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
  background: transparent;
  outline: none;
  color: $bright;
  height: 35px;
  width: 140px;
  // padding-left: 5%;
  font-size: 14px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    text-decoration: underline;
  }
}

.sale_back_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  cursor: pointer;
  padding: 0 2%;
  color: $orange;
  background-color: $bright;

  z-index: 3;
  &:hover {
    text-decoration: underline;
  }
}

.sale_back_btn input[type="submit"] {
  border: none;
  background: transparent;
  outline: none;
  color: $orange;
  font-size: 14px;
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    text-decoration: underline;
  }
}

.sale_back_btn input[type="submit"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $skin;
  font-size: 14px;
}
.sale_back_btn input[type="submit"]::-moz-placeholder { /* Firefox 19+ */
  color: $skin;
  font-size: 14px;
}
.sale_back_btn input[type="submit"]:-ms-input-placeholder { /* IE 10+ */
  color: $skin;
  font-size: 14px;
}
.sale_back_btn input[type="submit"]:-moz-placeholder { /* Firefox 18- */
  color: $skin;
  font-size: 14px;
}


.exit_sales_btn {
  position: absolute;
  top: 5%;
  left: 3%;

  z-index: 3;
}

.exit_sales_btn i {
  font-weight: bold;
}

.exit_sales_btn a {
  color: $bright;
  font-size: 35px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    color: $skin;
  }
}

.back-btn {
  margin: 5px;
  display: flex;
  color: $black;
  background: transparent;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
  border: 1px solid $black;
  border-radius: 25px;
  &:hover {
    border: 1px solid $orange;
  }
}

.back-btn a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $black;
  height: 100%;
  width: 100%;
  text-decoration: none;
  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

.details-btn {
  // margin: 5px;
  display: flex;
  color: $orange;
  background: transparent;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border: 1px solid $orange;
  border-radius: 25px;
  &:hover {
    border: 1px solid $orange45;
  }
}

.details-btn a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $orange;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  text-decoration: none;
  &:hover {
    color: $orange45;
    text-decoration: none;
  }
}

// .link_svg a {
//   width: 70%;
//   height: 30px;
//   display: flex;
//   align-items: center;
//   padding-left: 54px;
// }

// #heart_wishlist a {
//   font-size: 16px;
//   font-family: 'Roboto', sans-serif;
//   font-weight: normal;
// }


// FOR DEV PURPOSES ONLY -- TO ERASE LATER

.space-btn {
  height: 150px;
  width: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
