.mapboxgl-popup-anchor-top, .mapboxgl-popup-tip {
  border-top-color: $bright !important;
}

#map_hover_image {
  height: 200px;
}

#map_hover_image img {
  height: 200px;
  top: 0;
  left: 0;
}

#map_product_card {
  // position: absolute;
  // top: -50px;
  // left: 0;
  // height: 300px;
  height: 200px;
  // padding: 50px 0;
  background-color: transparent;
}

#map_linker {
  height: 200px;
}

.mapboxgl-popup-content {
  color: $black;
  padding: unset !important;

  background-color: transparent !important;
  width: 150px;
  height: 200px;

  border-radius: 5px !important;

  font-family: 'Roboto', sans-serif;

  text-align: center;
  vertical-align: middle;
}

.mapboxgl-marker svg g {
  fill: $orange;
  cursor: pointer;
}

#expand_map_action {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 15px;
  width: 15px;

  z-index: 300000;

  cursor: pointer;
}

#expand_map_action img {
  object-fit: cover;
  height: 12px;
  width: 12px;
}

#map {
  border-radius: 5px;
}
