.mapboxgl-popup {
  max-width: 100px;
}

.mapboxgl-popup-content {
  color: $black;
  padding: 10px !important;

  // background-color: $bright !important;

  border-radius: 5px !important;

  font-family: 'Roboto', sans-serif;

  text-align: center;
  vertical-align: middle;
}

.mapboxgl-marker svg g {
  fill: $orange;
}

#expand_map_action {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 15px;
  width: 15px;

  z-index: 300000;

  cursor: pointer;
}

#expand_map_action img {
  object-fit: cover;
  height: 12px;
  width: 12px;
}

#map {
  border-radius: 5px;
}
