.navbar-mobily {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bright;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 10vh;
  position: fixed;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0;
  z-index: 20000;
  top: 0px;
  left: 0px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8vw;
  width: 100%;
  height: 10vh;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
}

.navbar-logo a {
  font-size: 32px;
  font-weight: bold;
  color: $black;
}


.navbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 15vw;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-content {
  position: absolute;
  top: 10vh;
  overflow: hidden;
  background-color: $bright;
  max-height: 0;
}

.nav-content a {
  color: $black;
  text-decoration: none;
}

.nav-sub a:hover {
  background-color: $skin;
}

.nav-sub {
  padding: 1px;
  border: 0.3px solid $lightGrey;
}

.nav-sub ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-sub ul li a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 40px;
  width: 85%;
}

.nav-sub li {
  width: 200px;
  background-color: $bright;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-sub  i {
  opacity: 0;
  font-size: 12px;
  color: $lightGrey;
  padding-right: 10px;
}

.nav-sub li:hover {
  background-color: $skin;
}

.nav-sub li:hover i {
  opacity: 1;
}

.dropdown-active {
  max-height: 210px;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

// Login Navbar

.loginbox {
  position: relative;
  color: $bright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 10vh;
}

.login-sub {
  display: flex;
  align-items: center;
  color: $bright;
  width: max-content;
}

.shared-links {
  position: absolute;
  left: 45%;
  bottom: 3%;
}

.shared-links a {
  font-size: 9px;
  color: $lightGrey;
  &:hover {
    text-decoration: underline;
  }
}

.login-sub a {
  font-size: 9px;
  text-decoration: none;
  color: $lightGrey;
}


.login-sub input {
  margin: 0 4px;
  color: $skin;
  border-radius: 5px;
}

.login-sub input[type="email"], .login-sub input[type="password"] {
  border: none;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
  background: transparent;
  outline: none;
  color: $skin;
  height: 30px;
  width: 200px;
  padding-left: 5%;
  font-size: 14px;
}

.login-sub input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="email"]::-moz-placeholder { /* Firefox 19+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="email"]:-ms-input-placeholder { /* IE 10+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="email"]:-moz-placeholder { /* Firefox 18- */
    color: $skin;
    font-size: 14px;
  }

.login-sub input[type="email"]:focus {
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
    color: $black;
    font-size: 14px;
}

.login-sub input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="password"]::-moz-placeholder { /* Firefox 19+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="password"]:-ms-input-placeholder { /* IE 10+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="password"]:-moz-placeholder { /* Firefox 18- */
    color: $skin;
    font-size: 14px;
  }

.login-sub input[type="password"]:focus {
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.25);
    color: $black;
    font-size: 14px;
}

.login-sub:focus {
  outline: none !important;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.25);;
}
