.navbar-mobily {
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9vh;
  width: 100vw;

  background-color: $bright;
  box-shadow: 0px 4px 4px $black15;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;

  z-index: 20000;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9vh;
  width: 100%;

  padding: 0 8vw;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
}

.navbar-logo a {
  font-size: 32px;
  font-weight: bold;
  color: $black;
}


.navbar-user {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 21vw;
}

.nav-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 10vw;
  color: $black;

  &:hover {
    color: $orange;
  }

  &:hover img {
    border: $orange 1px solid;
  }
}

.nav-item img {
  border: $black 1px solid;
}

.nav-content {
  position: absolute;
  top: 9vh;
  right: 9vw;

  overflow: hidden;
  background-color: $bright;
  max-height: 0;
}

.nav-content a {
  color: $black;
  text-decoration: none;
}

.nav-sub a:hover {
  background-color: $skin;
}

.nav-sub {
  padding: 1px;
  border: 0.3px solid $lightGrey;
}

.nav-sub ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-sub ul li a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 40px;
  width: 85%;
}

.nav-sub li {
  width: 200px;
  background-color: $bright;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-sub  i {
  opacity: 0;
  font-size: 12px;
  color: $lightGrey;
  padding-right: 10px;
}

.nav-sub li:hover {
  background-color: $skin;
}

.nav-sub li:hover i {
  opacity: 1;
}

.dropdown-active {
  max-height: 210px;
  -webkit-transition: max-height 0.2s ease-in-out;
  -moz-transition: max-height 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}

// Login Navbar

.loginbox {
  position: relative;
  color: $bright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 9vh;
}

.login-sub {
  display: flex;
  align-items: center;
  color: $bright;
  width: max-content;
}

.shared-links {
  position: absolute;
  left: 45%;
  bottom: 3%;
}

.shared-links a {
  font-size: 9px;
  color: $lightGrey;
  &:hover {
    text-decoration: underline;
  }
}

.login-sub a {
  font-size: 9px;
  text-decoration: none;
  color: $lightGrey;
}


.login-sub input {
  margin: 0 4px;
  color: $skin;
  border-radius: 5px;
}

.login-sub input[type="email"], .login-sub input[type="password"] {
  border: none;
  box-shadow: inset 0px 0px 7px $black25;
  background: transparent;
  outline: none;
  color: $skin;
  height: 30px;
  width: 200px;
  padding-left: 5%;
  font-size: 14px;
}

.login-sub input[type="email"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="email"]::-moz-placeholder { /* Firefox 19+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="email"]:-ms-input-placeholder { /* IE 10+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="email"]:-moz-placeholder { /* Firefox 18- */
    color: $skin;
    font-size: 14px;
  }

.login-sub input[type="email"]:focus {
    box-shadow: inset 0px 0px 7px $black25;
    color: $black;
    font-size: 14px;
}

.login-sub input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="password"]::-moz-placeholder { /* Firefox 19+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="password"]:-ms-input-placeholder { /* IE 10+ */
    color: $skin;
    font-size: 14px;
  }
  .login-sub input[type="password"]:-moz-placeholder { /* Firefox 18- */
    color: $skin;
    font-size: 14px;
  }

.login-sub input[type="password"]:focus {
    box-shadow: inset 0px 0px 7px $black25;
    color: $black;
    font-size: 14px;
}

.login-sub:focus {
  outline: none !important;
  box-shadow: inset 0px 0px 1px $black25;;
}

// Navbar responsiveness

.responsive-navbar_mobily {
  display: none;
}

.burger {
  display: none;

  cursor: pointer;
}

// .home-link {
//   display: none;
// }

// .nav-item-small {
//   display: none;
// }

.logo_responsive {
  display: none;

  cursor: pointer;
}

.logo_responsive a {
  color: $black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;

  .navbar-item :hover{
    text-decoration: none;
    color: $black;

    cursor: pointer;
  }
}

.burger div {
  height: 2px;
  width: 25px;
  margin: 5px;

  background-color: $black;
  border-radius: 5px;

  transition: all 0.3s ease;
}


@media screen and (max-width: 1045px) {
  body {
    overflow-x: hidden;
  }

  .navbar-mobily {
    position: fixed;
    top: 0;
    left: 0;

    justify-content: space-between;

    height: 10vh;
    padding: 0 5vw;
  }

  .responsive-navbar_mobily {
    position: absolute;
    top: 10vh;
    right: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding-left: 0;

    height: 90vh;
    width: 80vw;

    background-color: $bright;

    transform: translateX(100vw);
    transition: transform 0.5s ease-in;
  }

  .responsive-navbar_mobily li {
    list-style: none;
  }

  .responsive-navbar_mobily a {
    color: $black;
    text-decoration: none;
  }

  .responsive-navbar_mobily li {
    opacity: 0;
  }

  .responsive-navbar_links {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 0 8vw;
    // width: 100%;
    // height: 9vh;
    letter-spacing: 2px;
    margin-bottom: 0px;
  }

  .navbar-links {
    display: none;
  }

  // .nav-item {
  //   display: none;
  // }

  .burger {
    display: block;
  }

  // .home-link {
  //   display: block;
  // }

  .logo_responsive {
    display: block;

    text-transform: uppercase;
    letter-spacing: 2px;
    color: $black;
  }
}

.nav-active {
  transform: translateX(0vw);
  box-shadow: -2px 19px 12px $black15;

  z-index: 3000000;
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.burger_animation .line1 {
  transform: rotate(-45deg) translate(-5px,5px);
}

.burger_animation .line2 {
  opacity: 0;
}

.burger_animation .line3 {
  transform: rotate(45deg) translate(-5px,-5px);
}




















