<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<h2>All Products</h2>

<% @products.each do |product| %>
  <p>Name: <%= product.name %></p>
<% end %>

<%= link_to "New product", new_product_path %>
